.backoffice {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.backoffice h1 {
    font-size: 2.6rem;
    color: #333;
}

.backoffice h2 {
    font-size: 2rem;
    color: #555;
}

.backoffice table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 1rem 0;
}

.backoffice th,
.backoffice td {
    border: 1px solid #000;
}

.backoffice th {
    text-align: left;
}

.backoffice th,
.backoffice td {
    padding: 0.5rem;
}

.backoffice table button {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    font-size: 1rem;
    cursor: pointer;
}

.forms {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.forms .divider {
    width: 1px;
    height: 100%;
    background-color: #000;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    margin: 0 auto;
}

.select {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ccc;
    width: 100%;
}

.form input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.form input:focus {
    outline: none;
}

.form button {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}